:root { 
    font-size: 16px; 
    font-family: 'Open Sans'; 
    --text-primary: #b6b6b6; 
    --text-secondary: #ececec; 
    --bg-primary: #23232e;
    --bg-secondary: #141418; 
    --transition-speed: 300ms;
}

body{
    background-color: #121212;
    margin: 0; 
    padding: 0; 
}

body::-webkit-scrollbar{ 
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

.logoword img{ 
    min-width: 2rem; 
    transition: var(--transition-speed);
    width: 10rem;
}

.logocrest img{ 
    min-width: 2rem;
    transition: var(--transition-speed);
    width: 5rem;
    height: auto;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item { 
    width: 100%; 
}

.nav-item:last-child { 
    margin-top: auto; 
    width: 16rem;
}

.nav-link{ 
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(.7);
    transition: var(--transition-speed);
}

.nav-link:hover { 
    filter:grayscale(0%) opacity(1); 
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.logoword { 
    display: none; 
    margin-left: 1 rem;
}

.link-text{
    display: none; 
    margin-left: 1rem;
}

.nav-link svg{ 
    width:2rem; 
    min-width: 2rem;
    margin: 0 1.5rem;
}

.icon{ 
    transition: var(--transition-speed);
}

.logo { 
    margin-bottom: 0rem; 
    width: 100%;
}

.logo img { 
    transform: rotate(0deg); 
    transition: transform var(--transition-speed);
}

@media only screen and (min-width: 600px) { 

    .navbar { 
        top:0; 
        width: 5rem;
        height: 100vh; 
    }

    .navbar:hover { 
        width: 16rem;
    }

    .navbar:hover .logo img { 
        transform: rotate(-360deg);
    }

    .navbar:hover .link-text{ 
        transition: opacity var(--transition-speed);
        display: inline; 
    }
    
    .navbar:hover .logoword{ 
        display: block;
    }

    main { 
        margin-left: 5rem; 
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px){ 

    .navbar{ 
        bottom:0;
        padding:0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display:none; 
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link { 
        justify-content: center;
    }

    main{ 
        margin: 0; 
        padding: .5;
    }
}