<div class="settings_container">

    <h2 class="title">Settings</h2>

    <div class="seperator"></div>

        <mat-expansion-panel class="settin-exp">
          <mat-expansion-panel-header class="sub_title">
            Personalization Settings
          </mat-expansion-panel-header>
                not rlly sure what should go here
      
        </mat-expansion-panel>
      
        <mat-expansion-panel class="settin-exp">

          <mat-expansion-panel-header class="sub_title">
            Security Settings
          </mat-expansion-panel-header>
      
            not rlly sure what should do here either. 
            <p>Discoverability: </p>
            <p>Allow Task Score To Be Seen: </p>

            <p>Change Password: </p>
      
        </mat-expansion-panel>
      
</div>
