<div class="modal-overlay" (click)="closeModal()"></div>

<div class="modal popup">
<div class="row-1">
    <div class="card task-card">
        <div class="card-header" style="padding-top: 1rem;">
            <div class="row">
                <div class="col-12">
                    <button class="btn close" (click)="closeModal()"><img class="x" src="/assets/icons/x.png"></button>
                </div>
            </div>
            <div class="row">
                <h1>
                    Add Task
                </h1>
            </div>
        </div>
        <form class="task-content" [formGroup]="taskGroup" (ngSubmit)="onSubmit()">
        <div class="card-content">
                <div class="form-row title feilds">
                    <div class="input-group mb-3">
                        <input formControlName="title" type="text" class="form-control" placeholder="Title" aria-label="Task Title">
                    </div>
                </div>
                <div class="form-row description feilds">
                    <div class="input-group mb-3">
                        <textarea formControlName="description" type="text" class="form-control" rows="3" placeholder="Description..."></textarea>
                    </div>
                </div>
                <div class="form-row description">
                    <div class="input-group mb-3 feilds">
                            <input formControlName="date" class="form-control feilds" matInput  [matDatepicker]="basicDatepicker" placeholder="Select Due Date...">
                            <div class="input-group-append append">
                                    <mat-datepicker-toggle class="duedate" matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="startDate" #basicDatepicker></mat-datepicker>
                            </div>
                    </div>
                </div>
                <div class="form-row feilds" style="padding-bottom: 2rem;">
                    <label class="form-check-label" style="padding-right: 1rem;" for="inlineRadio1">Priority: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="priority" formControlName="priority" id="inlineRadio1" value=1>
                        <label class="form-check-label" for="inlineRadio1">low</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="priority" formControlName="priority" id="inlineRadio2" value=2>
                        <label class="form-check-label" for="inlineRadio2">Medium</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"  name="priority" formControlName="priority" id="inlineRadio3" value=3>
                        <label class="form-check-label" for="inlineRadio3">high</label>
                    </div>
                </div>
            </div>
        <div class="card-footer" style="padding-bottom: 1rem;">
            <button class="btn btn-success task" [disabled]="taskGroup.invalid" type="submit">
                <img src="/assets/icons/plus.png" class="add">
            </button>
        </div>
        </form>
    </div>
</div>
<div class="below">
    <app-notification class="not-pos" *ngIf="showNotification" [message]="notificationMessage" [color]= "color"></app-notification>
</div>

</div>

