.login {
  color: #000;
}

.card {
  background-color: #3e3939;
}

.form-group label {
  color: #fff;
}

.sign-up-button-container {
  margin-top: 10px;
}

.login a {
  color: #fa47f1;
  font-weight: 600;
  text-decoration: none;
}

.btn-my {
  background-color: #71bac2;
}

.error-text {
    color: #e03131;
    font-weight: bold;
}
