<div class="settings_container">

    <h2 class="title">Edit Profile</h2>

    <div class="seperator"></div>

    <form class="form-class">
        <div class="form-group group1">
          <label class="label-pos" for="FullName">Full Name:</label>
          <input type="text" class="form-control" id="FullName" placeholder="{{fullname}}">
        </div>
        <div class="form-group group1">
          <label class="label-pos" for="Username">Username:</label>
          <input type="text" class="form-control" id="Username" placeholder="{{username}}">
        </div>
        <div class="form-group group1">
            <label class="label-pos" for="Bio">Bio:</label>
            <textarea class="form-control" id="Bio" rows="3" placeholder="{{userBio}}"></textarea>
        </div>
      </form>
      
</div>