.notification_2 {
    position: absolute;
    height: auto;
    width: 2rem;
    top: 35%;
    left: 28%;
    transform: translate(-50%, -50%);
    border-color: transparent;
    background-color: transparent;
    animation: fadeOut 3s ease;
    transition: all 0.3s ease-in-out;
    z-index: 10000;
}

.notificationr_img_vil{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 10rem;
    height: auto;
}

.notification_3 {
    position: absolute;
    height: auto;
    width: 20rem;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(38, 37, 41, 0.918);
    border-radius: .5rem;
    box-shadow: 0px 0px 50px #A8EFFF;
    animation: fadeOut 5s ease;
    transition: all 0.3s ease-in-out;
    z-index: 10000;
}

.notification_3 .notificationr_img{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 8rem;
    height: auto;
}

.space{
    height: .5rem;
}

.note_title{ 
    top: 10%;
    font-size: large;
    font-weight: bolder;
    color: #A8EFFF;
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;}

.notification_2 img{ 
    width: 18rem;
    height: auto;
}

@keyframes fadeOut {
    0% { 
        opacity: 1;
    }

    100%{ 
        opacity: 0; 
        display: none;
    }
    
}