
.badge-img{ 
    position: absolute;
    width: 6rem;
    margin-top: -2rem;
    margin-left: 4.5rem;
}

.comic{ 
    z-index: 10000;
}
.vertical .progress-bar{ 
    background-color: #A8EFFF !important;
}

.vertical-right .progress-bar{ 
    background-color: #FF48A6 !important;
}

.img__container_3 img {
    margin-top: 1rem;
    width: 15rem;
    box-shadow: 0px 0px 60px 0px #000000cb;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}


.score{
    font-weight: bolder;
    color: #bebebe;
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 5rem;
    font-size: small;
    position: absolute;
    margin-top: 5rem;
    margin-left: 4.5rem;

}

.image-and-score{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-score{
    display: flex;
    margin-right: auto;
    align-items: center;
    align-content: center;
    text-align: center;
}

.progress-cont{ 
    text-align: center;
    background-color: red !;
    color: red !important;
}


.to-the-right{ 
    padding-bottom: .5rem;
    margin-right: -2rem;
    padding-top: .5rem;
    display: flex;
    justify-content: end;
    margin-top: -1rem;
    justify-self: end;
    font-weight: bolder;
    color: #bebebe;
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;
}

.fire-header{ 
    display: flex;
    justify-content: end;
}

.image-streak{ 
    border-radius: 10rem;
}
.button_des1 { 
    align-items: center;
    justify-content: center;
    z-index: 0;
    border-color: #11200d !important;
    background-color: #11200d;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0.349);
    overflow: hidden !important;
    border-radius: 1rem !important;
    padding-left: 1rem;
    padding: 0;
    filter: brightness(100%);
    transition: all 0.3s ease-in-out;
}

.button_des1:hover {
    filter: brightness(200%);
    transform: scale(1.05);
}

.place-end{ 
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: flex-end;
    padding-top: .5rem;
    align-items: center;
}

.button_des1:focus {
    filter: grayscale(10%);
}

.button_des2 { 
    z-index: 0;
    color: #FF48A6 !important; 
    border-color: #F76E6E !important;
    box-shadow: 0px 0px 10px 0px #F76E6E;
    overflow: hidden !important;
    border-radius: 1rem !important;
    margin-top: -.5rem;
    padding: 0;
}

.streak-box{ 
    background-color: rgb(74, 74, 74);
    box-shadow: 0px 0px 10px 0px yellow;
}

.sep-prog{ 
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.seperate{ 
    display: flex;
    width: 1rem;
}


.button_des2:hover {
    filter: hue-rotate(203deg);
}

.button_des2:focus {
    filter: grayscale(10%);
}

.popup-container{ 
    align-self:center;
    justify-self:center;
    position: fixed;
}

.empty-message{
    width: 50%;
    color: rgba(245, 245, 245, 0.733);
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;
}


/* .static_img{ 
    z-index: -1;
    width: 25rem;
    min-width: 25rem;
    height: 25rem;
    min-height: 25rem;
    filter: hue-rotate(290deg); 
    filter: invert(20%); 
    padding-top: 0rem;
    width:150px;
    height:100px;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
} */



@media only screen and (min-width: 700px) { 

    .below {
        font-family: "Poppins", sans-serif;
        margin-left: 12rem;
        margin-top: 5rem;
        background-color: transparent !important;
        position: fixed;
        z-index: 15;
      }

    .empty-message{
        width: 50%;
        font-size: 98%;
        color: rgba(245, 245, 245, 0.733);
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }
    
    .sleepy-hero{ 
        width: 30%;
        }

    .m-3{ 
        background-color: #23232e;
        box-shadow: 0px 0px 10px 0px #23232e;
        border-radius: 1rem;
        align-content: center;
        width: 90%;
        height: 100%;
        min-width: 10rem;
    }

    .input-group{ 
        height: 4rem !important;
        width: 100%;
        display: flex !important;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .ps-3{
        height: 100%;
        width: 100%;
    }

    .contained{
        height: 100%;
        width: 100%;
        display: flex;
    }

    .dash1{
        background-color: #23232e;
        /* border: 1px solid #FF48A6; */
        box-shadow: 0px 0px 10px 0px #A8EFFF;
        border-radius: 1rem;
        height: auto;
        color: rgb(196, 196, 196);
        width: 100%;
    }
    
    .tasks{
        min-height: 21rem;
        max-height: 21rem;
        overflow-y: auto;
    }

    .tasks::-webkit-scrollbar{ 
        width: 0.25rem;
    }
    
    .tasks::-webkit-scrollbar-track{
        background: #1e1e24;
    }
    
    .tasks::-webkit-scrollbar-thumb{
        background: #6649b8;
    }
    
    
    .dynamic-row-other{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px; /* Adjust as needed for negative margins */
        margin-left: -15px; /* Adjust as needed for negative margins */
    }
    
    .dynamic-row-2{ 
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px; /* Adjust as needed for negative margins */
        margin-left: -15px; /* Adjust as needed for negative margins */
    }

    .dynamic-row-2 > * {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 15px; /* Adjust padding as needed */
    }
    
    .home{ 
        z-index: 0;
        margin-top: 2rem;
        margin-left: 8rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        align-items: center;
        backdrop-filter: blur(0.8);
    }

    .dash1-content{ 
        padding: 0rem;
        width: 100%;
    }

    .dynamic-row{ 
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px; /* Adjust as needed for negative margins */
        margin-left: -15px; /* Adjust as needed for negative margins */
    }

    .dynamic-col-7{ 
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .dynamic-col-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    
    .edit-icon {
        position: absolute;
        bottom: -1px;
        right: 5px;
        width: 20px; /* Adjust the size as needed */
        height: auto;
        cursor: pointer;
    }

    .vertical{
        -ms-transform: rotate(-90deg); 
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        min-width: 20rem; 
        height: 2rem; 
        box-shadow: 0px 0px 20px 0px #A8EFFF;
        padding-right: 1rem;
        margin-right: 5.56rem;
        display:absolute;
        background-color: #bebebe40;
        z-index: -1;
    }

    .vertical-right{
        -ms-transform: rotate(-90deg); 
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        min-width: 20rem; 
        color: red !important;
        box-shadow: 0px 0px 20px 0px #ff8cc8;
        margin-top: -2rem;
        height: 2rem;   
        margin-left: 5.6rem;
        z-index: -1;
        background-color: #bebebe40;
        display: absolute;
    }

    .space-between{
        display: fixed;
        width: 20rem !important;
    }

    .img__container {
        position: absolute;
        left: 50%;
        margin-left: -2.8rem;
        margin-top: 3rem;
        transform: translatex(-50%);
      }
    
        .img__container img {
          width: 4.5rem;
          box-shadow: 0px 0px 20px 0px #A8EFFF;
          height: 4.5rem;
          object-fit: cover;
          border-radius: 50%;
          display: block;
        }


    .img__container_2 {
        margin-top: 3rem;
        position: absolute;
        left: 50%;
        margin-left: 2.8rem;
        transform: translatex(-50%);
        }
    
        .img__container_2 img {
            background-color: rgba(255, 0, 0, 0.219);
            width: 4.5rem;
            height: 4.5rem;
            box-shadow: 0px 0px 20px 0px #ff8cc8;
            object-fit: cover;
            border-radius: 50%;
            display: block;
        }
    
    .progress_cont{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progress-title2{
        position: absolute;
        margin-left: -2.8rem;
        margin-top: 1rem;
        left: 93%;
        transform: translate(-50%, -50%);
        justify-self: end;
        font-weight: bolder;
        font-size: small;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }
    .progress-title{
        position: absolute;
        margin-top: 1rem;
        margin-left: -2.8rem;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-self: end;
        font-weight: bolder;
        font-size: small;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }

    .progress-val{
        position: absolute;
        top: 82%;
        margin-left: -2.8rem;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-self: end;
        font-weight: bold;
        font-size: small;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }

    .progress-val-right{
        position: absolute;
        top: 82%;
        left: 50%;
        margin-left: 2.8rem;
        transform: translate(-50%, -50%);
        justify-self: end;
        font-size: small;
        font-weight: bold;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }
    
    .progressbar{ 
    
        color: red !important;
    
    }

    .item{ 
        width: 60%;
        justify-content: center;
        border-radius: 1rem;
        height: 85%;
        background-color: #a8efffbd;
        border-color: rgba(255, 255, 0, 0.795);
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 0, 0.795);
        text-align: center;
        align-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: bolder;
        font-family: "Poppins", sans-serif;
        color: #11200df8;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }

    .item_number{ 
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: rgba(255, 255, 0, 0.349);
        width: 3rem; 
        height: 85%;
        border:solid 2px; 
        border-color: rgba(255, 255, 0, 0.795);
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 0, 0.795);
        border-radius: 5rem;
        font-size: large;
        font-weight: bold;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }
    
    .item_button{ 
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: rgba(255, 255, 0, 0.349);
        width: 4rem; 
        height: 85%;
        border:solid 2px; 
        border-color: rgba(255, 255, 0, 0.795);
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 0, 0.795);
        border-radius: 5rem;
        font-size: small;
        font-weight: bold;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }
    
    .dash2{
        display: flex;
        justify-content: start;
        background-color: transparent;
        color: rgb(196, 196, 196);
        /* border: 1px solid #A8EFFF; */
        /* box-shadow: 0px 0px 10px 0px #FF48A6; */
        max-width: 13rem;
        border-radius: 0.5rem;
        align-items: center;
        height: 35rem;
        width: 90%;
        
    }

    .web-only{
        display: block;
    }

    .web-only h2{ 
        font-size: 18px;
        display: flex;
        justify-content: end;
        justify-self: end;
        font-weight: bolder;
        color: #bebebe;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }

    .container{ 
        margin-top: 15rem;
        
    }
    
}


@media only screen and (max-width: 700px){ 

    .below {
        font-family: "Poppins", sans-serif;
        margin-left: 12rem;
        margin-top: 5rem;
        background-color: transparent !important;
        position: fixed;
        z-index: 15;
        align-items: center;
    }


    .item{ 
        width: 60%;
        justify-content: center;
        border-radius: 1rem;
        height: 80%;
        background-color: #a8efffbd;
        border-color: rgba(255, 255, 0, 0.795);
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 0, 0.795);
        text-align: center;
        align-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bolder;
        font-family: "Poppins", sans-serif;
        color: #11200df8;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }

    .item_number{ 
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: rgba(255, 255, 0, 0.349);
        width: 3rem; 
        height: 80%;
        border:solid 2px; 
        border-color: rgba(255, 255, 0, 0.795);
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 0, 0.795);
        border-radius: 5rem;
        font-size: large;
        font-weight: bold;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }
    
    .item_button{ 
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: rgba(255, 255, 0, 0.349);
        width: 4rem; 
        height: 80%;
        border:solid 2px; 
        border-color: rgba(255, 255, 0, 0.795);
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 0, 0.795);
        border-radius: 5rem;
        font-size: small;
        font-weight: bold;
        color: whitesmoke;
        letter-spacing: .5px;
        font-family: "Poppins", sans-serif;
    }

    .web-only{
        display: none;
    }
    .dash1{
        background-color: #23232e;
        /* border: 1px solid #FF48A6; */
        box-shadow: 0px 0px 10px 0px #A8EFFF;
        border-radius: 1rem;
        height: auto;
        color: rgb(196, 196, 196);
        width: 90%;

    }

    .input-group{ 
        height: 4rem !important;
        width: 100%;
        display: flex !important;
        justify-content: center;
    }

    .m-3{ 
        background-color: transparent;
        width: 90%;
        min-width: 10rem;
        border-color: none;
    }
        
    .dynamic-row-2{ 
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px; /* Adjust as needed for negative margins */
        margin-left: -15px; /* Adjust as needed for negative margins */
    }

    .dynamic-row-2 > * {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 15px; /* Adjust padding as needed */
    }
    
    .dynamic-row > * {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 15px; /* Adjust padding as needed */
    }

    .dynamic-row{ 
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px; /* Adjust as needed for negative margins */
        margin-left: -15px; /* Adjust as needed for negative margins */
    }

    .empty-message{
        width: 50%;
        color: rgba(245, 245, 245, 0.733);
        letter-spacing: .5px;
        font-size: small;
        font-family: "Poppins", sans-serif;
    }

    .dynamic-col-5{
        background-color: #121212; /* Dark background color */
        color: #fff; /* Light text color */
        padding: 20px;
        position: fixed; /* Fixed positioning */
        width: 96%; /* Full width */
        top: 0; /* Fixed to the top */
        z-index: 0; 
        height: 6.2rem;
        box-shadow: 0px 0px 10px 8px #121212;
        justify-content: start;
        margin-left: -2.2rem;
    }

    .container{
        width: 100%;
    }


    
    
    .dash2{
        background-color: #23232e;
        color: rgb(196, 196, 196);
        /* border: 1px solid #A8EFFF; */
        box-shadow: 0px 0px 10px 0px #FF48A6;
        max-width: 100%;
        border-radius: 0.5rem;
        justify-content: center;
        height: 5rem;
        display: flex;
        width: 110%;
    }

    .vertical{ 
        height: 2rem;
        width: 100%;
    }

    .dynamic-row-other{ 
        width: 102%;
    }

    .home{ 
        padding: 1rem;
        z-index: 0;
        align-items: center;
        backdrop-filter: blur(0.8);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .achieve{ 
        height: .8rem;
    }

    .scrolly { 
        position: relative;
        margin-top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 70%;
    }

    .scrolly::-webkit-scrollbar{ 
        width: 0.25rem;
    }
    
    .scrolly::-webkit-scrollbar-track{
        background: #1e1e24;
    }
    
    .scrolly::-webkit-scrollbar-thumb{
        background: #6649b8;
    }

}