.dash1{
    background-color: #23232e;
    /* border: 1px solid #FF48A6; */
    box-shadow: 0px 0px 10px 0px #A8EFFF;
    border-radius: 1rem;
    height: 15rem;
    color: rgb(196, 196, 196);
}



.vertical{
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* background-image:image-set('/assets/gis/pink.gif'); */

}

.progress-bar{ 

    background-color: red !important;

}

.dash2{
    background-color: #23232e;
    color: rgb(196, 196, 196);
    /* border: 1px solid #A8EFFF; */
    box-shadow: 0px 0px 10px 0px #FF48A6;
    max-width: 13rem;
    border-radius: 0.5rem;
    align-items: center;
    height: 32rem;
    
}

.item{ 
    width: 30rem !important;
    border-radius: 1rem;
    height: auto;
    background-color: #ffffffba;
    border-color:  #ffffffba;
    box-shadow: 0px 0px 10px 0px #ffffffba;
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    color: #282828;
    letter-spacing: .5px;
    /*change font at some point */
    font-family: "Poppins", sans-serif;
}

.button_des1 { 
    z-index: 0;
    border-color: #99C44F !important;
    box-shadow: 0px 0px 10px 0px #99C44F;
    overflow: hidden !important;
    border-radius: 1rem !important;
    align-items: center !important;
    align-content: center !important;
    padding: 0;
    filter: brightness(100%);
    transition: all 0.3s ease-in-out;
}

.button_des1:hover {
    filter: brightness(200%);
    transform: scale(1.05);
}

.button_des1:focus {
    filter: grayscale(10%);
}

.button_des2 { 
    z-index: 0;
    color: #FF48A6 !important; 
    border-color: #F76E6E !important;
    box-shadow: 0px 0px 10px 0px #F76E6E;
    overflow: hidden !important;
    border-radius: 1rem !important;
    align-items: center !important;
    align-content: center !important;
    padding: 0;
}

.m-3{ 
    background-color: #23232e;
    box-shadow: 0px 0px 10px 0px #23232e;
    border-radius: 1rem;
    width: 40rem;
    min-width: 10rem;
}

.button_des2:hover {
    filter: hue-rotate(203deg);
}

.button_des2:focus {
    filter: grayscale(10%);
}

/* .static_img{ 
    z-index: -1;
    width: 25rem;
    min-width: 25rem;
    height: 25rem;
    min-height: 25rem;
    filter: hue-rotate(290deg); 
    filter: invert(20%); 
    padding-top: 0rem;
    width:150px;
    height:100px;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
} */
.prog_container{
    object-fit:scale-down;
    overflow: hidden;
    margin-top: 2rem;
    z-index: 0;
    background-color: #FF48A6;
    width: 2rem;
    height: 25rem;
    box-shadow: 0px 0px 10px 0px #FF48A6;
    border-radius: 1rem;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    /* background-image:image-set('/assets/gis/pink.gif'); */
    filter: grayscale(50%)
}
.home{ 
    z-index: 0;
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
    backdrop-filter: blur(0.8);
}

.container{ 

    margin-top: 15rem;
}
