.confirmation-card {
  font-family: "Poppins", sans-serif;
  color: deeppink;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #A8EFFF;
  border-radius: 5px;
  background-color: #4e4e5e;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  z-index: 2;
  text-align: center;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.yes-button,
.no-button {
  font-family: "Poppins", sans-serif;
  background-color: #A8EFFF;
  padding: 8px 16px;
  border: 1px solid #A8EFFF;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  margin: 16px; /* Adjust margin to center the buttons */
  width: calc(100% - 40px);
}
