<div>
  <h2 class="title">Edit Profile Avatar</h2>

  <div class="avatar-container">
    <div *ngFor="let avatar of avatars; let i = index" class="avatar-wrapper">
      <img [src]="avatar" alt="Avatar" [class.selected]="selectedAvatar === avatar" (click)="selectAvatar(avatar, requiredPoints[i])" />
      <div *ngIf="user.score < requiredPoints[i]" class="locked-info">
        <span class="locked-text">Locked</span>
        <span class="required-points">{{ requiredPoints[i] }} Points</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn cancel-button" (click)="cancelChanges()">Cancel</button>
    <button class="btn save-button" (click)="saveChanges()">Save</button>
  </div>
  <div class="error-text"> {{ errorText }}</div>
  <div class="user-points">
    <span>Your Points: {{ user.score }}</span>
  </div>
</div>


