div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  letter-spacing: .5px;
  font-family: "Poppins", sans-serif;
}

.title {
    color: #fff;
}


img {
  width: 80px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
}

.selected {
  border: 5px solid #47bf55; /* Add a border to indicate selected avatar */
}

.buttons {
  margin-top: 20px;
  flex-direction: row;
}

button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
}

.cancel-button {
  background-color: gray;
  color: white;
}

.save-button {
  background-color: #47bf55;
  color: white;
}

.error-text {
  color: #e03131;
  font-weight: bold;
}

.avatar-wrapper {
    position: relative;
    margin: 5px;
}

.avatar-wrapper img {
    cursor: pointer;
}

.locked-info {
  text-align: center;
  margin-top: 5px;
}

.locked-text {
  color: #ff0000;
  font-weight: bold;
}

.required-points {
  color: #ff0000;
}

.user-points {
  color: #fff;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .avatar-container {
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
  }

}

@media only screen and (max-width: 600px) {

  .avatar-container {
    flex-direction:row;
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
  }
  
}
