.add {
  width: 8rem;
  height: auto;
  font-family: "Poppins", sans-serif;
  background-color: #4e4e5e !important;
  box-shadow: 0px 0px 10px 0px #A8EFFF !important;
  border-color: #A8EFFF !important;
  color: rgba(245, 245, 245, 0.733) !important;
  font-weight: bolder;
}

.task {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
}

.below {
  margin-bottom: -35rem;
  font-family: "Poppins", sans-serif;
}

.task-card {
  color: rgb(226, 226, 0);
  border: 10px solid #A8EFFF;
  box-shadow: 0px 0px 10px 0px deeppink;
  font-family: "Poppins", sans-serif;
}

.feilds {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Poppins", sans-serif;
}

.x {
  width: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.duedate:focus {
  width: 20px;
  font-family: "Poppins", sans-serif;
}

.append {
  background-color: #A8EFFF !important;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 10px 0px #ffffffba;
}

@media only screen and (min-width: 30px) {
  .popup {
    position: relative;
    justify-content: flex-start !important;
    display: flex;
    height: 80vh;
    font-family: "Poppins", sans-serif;
  }

  .task-card {
    width: auto;
    font-family: "Poppins", sans-serif;
  }
}

@media only screen and (max-width: 660px) {
  .popup {
    display: flex;
    height: 70vh;
    position: relative;
    justify-content: flex-start !important;
    font-family: "Poppins", sans-serif;
  }

  .task-card {
    width: 20px;
    font-family: "Poppins", sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: deeppink;
  font-family: "Poppins", sans-serif;
}

content {
  justify-content: space-between !important;
  position: relative;
  max-width: 800px;
  margin: 2rem auto;
  color: #282828;
  letter-spacing: .5px;
  font-family: "Poppins", sans-serif;
}

mat-card {
  justify-content: space-between !important;
  position: relative;
  justify-content: flex-start !important;
  max-width: 800px;
  margin: 50px 0 0 150px;
  color: #282828;
  letter-spacing: .5px;
  font-family: "Poppins", sans-serif;
  border: 1px solid deeppink;
  box-shadow: 0px 0px 10px 0px deeppink;
  color: white;
  background-color: #23232e;
}
.task-list {
  font-family: "Poppins", sans-serif;
}

.task-items-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start !important;
  overflow-y: auto;
}

.task-item {
  width: auto;
  font-family: "Poppins", sans-serif;
}
.card-body {
  width: 200%;
  font-size: 12px;
  align-items: center;
  justify-content: space-between !important;
  overflow-y: auto;
  border-color: #A8EFFF;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  background-color: #4e4e5e;
  color: #A8EFFF;
}

.card-text description {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  background-color: deeppink;
}

.fields input.form-control,
.fields textarea.form-control {
  background-color: #4e4e5e;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  color: rgba(245, 245, 245, 0.733);
  font-weight: bolder;
}

.btn-primary {
  background-color: #A8EFFF;
  border-color: #A8EFFF;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  color: #4e4e5e;
  font-weight: bold;
}

/* Delete button */
.btn-danger {
  background-color: deeppink;
  border-color: deeppink;
  box-shadow: 0px 0px 10px 0px deeppink;
  color: #4e4e5e;
  font-weight: bold;
}

/* Complete button */
.btn-success {
  background-color: #00FF00;
  border-color: #00FF00;
  box-shadow: 0px 0px 10px 0px #00FF00;
  color: #4e4e5e;
  font-weight: bold;
}
