<div class="social-container">
  <div class="buttons-container" [class.active]="isFriendsActive">
    <button class="social-button btn" (click)="showFriends()">Following</button>
    <button class="social-button btn" (click)="showAllUsers()">All Users</button>
    <button class="social-button btn" (click)="toggleSearch()">Search User</button>
    <div class="active-bar" [style.left]="activeBarLeft"></div>
  </div>

  <mat-card class="user-list">
    <mat-card-content class="user-list-content">
      <div *ngIf="isFriendsActive && !SearchActive">
        <div class="empty-list-message" *ngIf="followingList.length === 0; else followList">
          <p class="zeroFollowsText">You aren't following anyone yet! To follow another user, check out their profile under the "All Users" tab or search for a specific user you want to add!</p>
          <img src="/assets/icons/sad-taskhero.png" class="sad-img">
        
        </div>
        <ng-template #followList>
          <div *ngFor="let user of followingList; let i = index" class="user-block">
            <div class="user-info">
              <div class="index">{{ i + 1 }}</div>
              <div class="avatar-container">
                <img src="{{ user.avatar}}" alt="User Avatar" class="avatar" />
              </div>
              <div class="username" (click)="viewUserProfile(user.id)">{{ user.username }}</div>
              <div class="points">{{ user.points }} points</div>
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="!isFriendsActive && !SearchActive">
        <div *ngFor="let user of allUsersList; let i = index" class="user-block" [ngClass]="{ 'special-user-info': user.username === currentUsername }">
          <div class="user-info">
            <div class="index">{{ i + 1 }}</div>
            <div class="avatar-container">
              <img src="{{ user.avatar}}" alt="User Avatar" class="avatar" />
            </div>
            <div class="username" (click)="viewUserProfile(user.id)">{{ user.username }}</div>
            <div class="points">{{ user.points }} points</div>
          </div>
        </div>
      </div>
      <div *ngIf="SearchActive">
        <div class="search-popup">
          <mat-card-header class="header-class">
            <div class="header-pos2">
              <input class="form-control search-input" type="text" id="searchInput" placeholder="Username" [(ngModel)]="searchQuery" (input)="onSearchInputChange()" />
              <button class="search-button btn" (click)="searchUsers()"><svg class="searchImg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
              </button>
            </div>
          </mat-card-header>
          <div class="separator"></div>
          <mat-card-content class="search-contents">
            <div class="search-results">
              <!-- Test Data -->
              <div *ngFor="let user of searchTestData" class="user-block">
                <div class="user-info">
                  <div class="search-username" (click)="viewUserProfile(user.id)">{{ user.username }}</div>
                  <div class="search-points">{{ user.points }} points</div>
                  <img class="btn" (click)="toggleFriendAdded()" style="width: 2.5rem; filter:invert(100%); justify-self:end" src="/assets/icons/plus.png">
              </div>
            </div>
            </div>
          </mat-card-content>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <div class="friend-popup" [class.show]="isFriendAddedOpen" *ngIf="isFriendAddedOpen">
    <div class="friend-added">
      <h2>Now Following!</h2>
    </div>
  </div>
</div>

