/* social.component.css */

.social-container {
  max-width: 800px;
  margin: 2rem auto;
  color: #282828;
  letter-spacing: .5px;
  font-family: "Poppins", sans-serif;
}

.buttons-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.social-button {
  background-color: #A8EFFF;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  color: #282828;
  border: #16d4ff;
  border-width: 5rem;
  padding: 15px 4%;
  border-radius: 15px;
  font-size: 18px;
  display: flex;
}

.active-bar {
  position: absolute;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  bottom: -40px;
  height: 5px;
  background-color: #A8EFFF;
  transition: left 0.3s ease;
  width: 15%;
  visibility: visible;
  border-radius: 15px;
  margin-bottom: 25px;
}

svg:hover {
  cursor: pointer;
}

.empty-list-message {
  overflow-y: hidden !important;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px; 
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(245, 245, 245, 0.733);
  width: auto;
}


.friend-popup {
  position: fixed;
  bottom: 5%;
  left: 37%;
  width: 500px;
  z-index: 100;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 15px;
}

.x{ 
  width: 1.5rem;
  align-self: center;
}


.user-list {
  margin-top: 55px;
  height: 30rem;
  width: auto;
  background-color: #23232e;
  overflow: hidden;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  border-radius: 1rem;
  align-items: center;
}

.user-list-content{
  overflow-y: auto;
  padding-bottom: 5rem;
}

.index {
  font-weight: bold;
  margin-right: 20px;
}

.user-block {
  justify-self: center;
  background-color: #4e4e5e;
  color: black;
  padding: 2%;
  margin-top: 20px;
  min-width: 300px;
  width: 90%;
  margin-left: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px #A8EFFF;

}

.special-user-info {
  background-color: #A8EFFF;
  border: 1px solid #ccc;
}

.separator {
  position: relative;
  justify-self: center;
  left: 0;
  width: 100%;
  height: .1rem; /* Adjust the thickness of the separator */
  background-color: #383847; /* Adjust the color of the separator */
}

.user-info {
  display: flex;
  width: 100%;
  height: 3.5rem;
  align-items: center;
  justify-content:space-between;
  overflow-x: hidden;
  font-size: large;
  font-weight: bold;
  color: #d8d8d8;
  letter-spacing: .5px;
  font-family: "Poppins", sans-serif;
  
}

.avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    box-shadow: 0px 0px 8px 0px #A8EFFF;
  }

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.username:hover{
    transform: scale(1.05) !important;
}

.search-username {
  font-weight: bold;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
  margin-right: auto;
}

.points {
  color: #A8EFFF;
  text-shadow: 2px 2px 4px #a8efff5e; 
  margin-left: auto;
}

.search-contents{
  display: flex;
  height: 20rem;
  width: 100%;
  margin-left: -1rem;
  margin-top: .2rem;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.search-points {
  align-self: end;
  justify-self: end;
}

.searchImg{
  filter: grayscale(0%);
}

.search-popup {
  justify-self: center;
  align-items: center;
  padding: 15px; /* Add some padding inside the popup */
  overflow-y: hidden;
}


.search-contents::-webkit-scrollbar{ 
  width: 0.25rem;
}

.search-contents::-webkit-scrollbar-track{
  background: #1e1e24;
}

.search-contents::-webkit-scrollbar-thumb{
  background: #6649b8;
}

.search-popup h3 {
    color: white;
}

.search-popup input {
    width: 60%;
    height: 40px;
    border-radius: 10px;
    color: #000;
}

.search-button {
  width: auto;
  height: 40px;
  background-color: lightgreen; /* Set the background color to light blue */
  box-shadow: 0px 0px 3px 0px lightgreen;
  border: none;
  border-radius: 10px; /* Add rounded edges to the button */
  color: black; /* Set the text color to black */
  cursor: pointer;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.search-input{
  background-color:rgb(15, 15, 15);
  color: whitesmoke !important;
  box-shadow: 0px 0px 3px 0px whitesmoke;
  caret-color: whitesmoke;
}

.search-input::placeholder {
  color: rgb(90, 90, 90) !important;
}


.search-results {
    width: 100%;
}


@media only screen and (max-width: 600px){ 

  .separator{
    margin-top: 2px;
  }

  .sad-img{ 
    width: 90%;
    height: auto;
    overflow-y: none;
    overflow: none;
  }

  .header-class{
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
  }
  
  .social-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .header-pos2{
    margin-top: -1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-list-content::-webkit-scrollbar{ 
    width: .2rem;
    border-radius: 5rem;
    background: transparent;
  }
  
  .user-list-content::-webkit-scrollbar-track{
    background: transparent;
  }
  
  .user-list-content::-webkit-scrollbar-thumb{
    background: #6649b8;
  }

  .user-list-content{
    width: 100%;
  }

}



@media only screen and (min-width: 600px) { 
  .header-class{
    display: flex;
    justify-content: center;
  }

  .sad-img{ 
    width: 60%;
    height: auto;
    overflow-y: none;
    overflow: none;
  }

  .separator{
    margin-top: 1rem;
  }

  .user-list-content{
    width: 100%;
    padding-right: 0rem;
  }

  .user-list-content::-webkit-scrollbar{ 
    width: 0.25rem;
    border-radius: 5rem;
  
    background: transparent;

  }
  
  .user-list-content::-webkit-scrollbar-track{
    background: transparent;
  }
  
  .user-list-content::-webkit-scrollbar-thumb{
    background: #6649b8;
  }
  
  .social-container {
    margin-left: 9rem;
    margin-right: 2rem;
  }

  
  .header-pos2{
    display: flex;
    margin-top: -1.7rem;
    justify-content: center;
  }
}
