.notification{ 
    position: relative;
    padding: 10px; 
    border-radius: 5px; 
    animation: fadeOut 3s ease;
    z-index: 2;
    background-color: transparent;
    font-size: small;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;
    text-shadow: 10px 10px 10px 10px black !important;
}

.error{
    background-color: rgb(243, 54, 54);
}

@keyframes fadeOut {
    0% { 
        opacity: 1;
    }

    100%{ 
        opacity: 0; 
        display: none;
    }
    
}