<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<div class="glow-shell">
<div class="new_container">
  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src={{avatarLink}} alt="Choose Avatar" />
            <span class="btn edit-icon" (click)="editAvatar()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" /></svg>
            </span>
          </div>
          <button (click)="redirectEditProfile()" class="btn edit-prof" style="background-color: rgb(185, 185, 185);">Edit Profile</button>
          <button class="btn logout" (click)="logout()">
            Sign Out
            <svg class="little" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path class="icon" fill="#6E92C4 " d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" /></svg>
          </button>
          <h2>{{username}}</h2>

          <ul class="about">
            <li (click)="openFollowersPopup()" class="clickable"><span>{{followersNumber}}</span>Followers</li>
            <li><span>{{totalScore}}</span>Points</li>
            <li><span>{{achievementNumber}}</span>Achievements</li>
          </ul>
          <mat-card class="user-list" *ngIf="isFollowersOpen">
            <button class="close-button" (click)="openFollowersPopup()">X</button>
            <mat-card-content class="user-list-content">
              <div>
                <div class="empty-list-message" *ngIf="followerList.length === 0; else followList">
                  <p class="zeroFollowsText">You don't have any followers yet! Go out and follow some other users, they may follow you back!</p>
                  <img src="/assets/icons/sad-taskhero.png" class="sad-img">

                </div>
                <ng-template #followList>
                  <div *ngFor="let user of followerList; let i = index" class="user-block">
                    <div class="user-info">
                      <div class="avatar-container">
                        <img src="{{ user.avatar}}" alt="User Avatar" class="avatar" />
                      </div>
                      <div class="username" (click)="viewUserProfile(user.id)">{{ user.username }}</div>
                      <div class="points">{{ user.points }} points</div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
        <div class="margin_contain">
        <div class="right__col achv_con">
          <h3>Achievements</h3>
          <div class="separator"></div>
          <div *ngIf="achievementBadges.length > 0; else elseBlock">
            <div *ngFor="let badge of achievementBadges"  class="Achievements">
              <div class="image-container">
                <img src={{badge.path}} alt="Photo" class="trophies"/>
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <img src={{empty_ach}} class="empty_ach">
          </ng-template>
        </div>
        </div>


      </div>
    </div>
  </body>
</div>
</div>

