
.edit-prof{
    width: auto;
    margin-top: 1rem;
    margin-left: 5rem;  
    background-color: transparent !important;
    border-color:  rgb(185, 185, 185);
    color: rgb(185, 185, 185);
    transition: all 0.3s ease-in-out;
}

.edit-prof:hover{ 
    color: antiquewhite;
    border-color: antiquewhite;
    transform: scale(1.01);
}

.edit-prof:focus{
    box-shadow: none;
}

.container{ 
    text-align: start;
    margin-left: 8rem;
    background-color: #1d1d1d !important;
    color: white !important;
}

.settings{
    color: rgb(185, 185, 185);
    background-color: transparent;
    border: 0;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.settings:hover{
    color: rgb(240, 240, 240);
    transform: scale(1.01);
}

.new_container{
  margin-top: 6rem;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  

  
  .header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
  }

  .header__wrapper .cols__container .left__col .settings {
    top: -100px;
    left: 0%;
    position: absolute;
  }
  
  .header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
  }
  .header__wrapper .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(175, 175, 175, 0.479);
  }

  .header__wrapper .cols__container .left__col .edit-prof{ 
    margin-top: 60px;
    margin-left: 5px;
    align-self: center;
  }
  .header__wrapper .cols__container .left__col h2 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
    color: #acacac;
  }
  
  .header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
  }
  
  .header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
  }
  .header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
    padding: 1rem;
  }
  .header__wrapper .cols__container .left__col .about li span {
    color: #818181;
    font-weight: 600;
  }
  .header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #818181;
    height: 1px;
    width: 100%;
  }

  
  .header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .header__wrapper .cols__container .right__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;
  }
  .header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #818181;
    font-weight: 600;
  }

  .header__wrapper .cols__container .right__col nav button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .header__wrapper .cols__container .right__col nav button:hover {
    opacity: 0.8;
  }

  .header__wrapper .cols__container .right__col .Achievements {
    display: grid;
    gap: 20px;
  }
  
  .header__wrapper .cols__container .right__col .Achievements img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 10rem;
  }
  
  /* Responsiveness */
  
  @media only screen and (min-width: 600px) {


    .new_container{ 
      margin-left: 8rem;
    }

    .header__wrapper .cols__container {
      max-width: 1200px;
      margin: 1 auto;
      width: 100%;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
    }
    .header__wrapper .cols__container .left__col {
      padding: 25px 0px;
    }
    .header__wrapper .cols__container .right__col nav ul {
      flex-direction: row;
      gap: 30px;
    }
    .header__wrapper .cols__container .right__col .photos {
      height: 365px;
      overflow: auto;
      padding: 0 0 30px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .header__wrapper .cols__container .left__col {
      margin: 0;
      margin-right: auto;
      margin-left: 4rem;
    }
    .header__wrapper .cols__container .right__col nav {
      flex-direction: row;
      margin-right: 4rem;
    }
    .header__wrapper .cols__container .right__col nav button {
      margin-top: 0;
      margin-left: 2rem;
    }

    .header__wrapper .cols__container .right__col .Achievements {
      margin-left: 10rem;
    }
  }