
.edit-prof, .logout {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: transparent !important;
  border-color: rgb(185, 185, 185);
  color: rgb(185, 185, 185);
  transition: all 0.3s ease-in-out;
}

.container{ 
    text-align: start;
    margin-left: 8rem;
    background-color: #1d1d1d !important;
    color: white !important;
}

.little {
  width: 2rem;
  transition: all 0.3s ease-out;
  padding-left: .5rem;
}

.achievements-row {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Wrap items to the next line when they exceed the container width */
}

.achievements-container {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Wrap items to the next line when they exceed the container width */
}

.logout {
  margin-top: 3.7rem;
}

.edit-prof:hover, .logout:hover {
  color: antiquewhite;
  border-color: antiquewhite;
  transform: scale(1.01);
}

.edit-prof:focus, .logout:focus {
  box-shadow: none;
}

.edit-icon {
  position: absolute;
  bottom: 5px;
  right: -10px;
  width: 20px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
  color: #fff;
}

.settings{
    color: rgb(185, 185, 185);
    background-color: transparent;
    border: 0;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about li.clickable {
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.about li.clickable:hover{
    filter: brightness(150%);
    transform: scale(1.05) !important;
}

.image-container{ 
  width: 15rem;
  height: auto;
  padding: 1rem;
  text-align: center;
}

.trophies{ 
  width: 100% !important;
  height: 100%;
  box-shadow: 0px 0px 15px 0px #A8EFFF;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
}

.settings:hover{
    color: rgb(240, 240, 240);
    transform: scale(1.01);
}


body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }

.user-list {
  height: 400px;
  width: 400px;
  background-color: #23232e;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;
  box-shadow: 0px 0px 10px 0px #A8EFFF;
  border-radius: 1rem;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: salmon;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
  border-radius: 15px;
}

.user-list-content {
  overflow-y: auto;
  padding-bottom: 5rem;
}

.empty-list-message {
  overflow-y: hidden !important;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(245, 245, 245, 0.733);
  width: 400px;
}

.sad-image {
  overflow-y: hidden !important;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(245, 245, 245, 0.733);
  width: 400px;
}

.user-block {
  justify-self: center;
  background-color: #c675d5;
  color: black;
  border: 1px solid #ccc;
  padding: 2%;
  margin-top: 20px;
  min-width: 300px;
  width: 50%;
  border-radius: 15px;
}

.user-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.points {
  color: #000;
  margin-left: auto;
}
  
  .header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
  }

  .header__wrapper .cols__container .left__col .settings {
    top: -100px;
    left: 0%;
    position: absolute;
  }
  
  .header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
  }
  .header__wrapper .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 0px 15px 0px #A8EFFF;
  }

  .header__wrapper .cols__container .left__col .edit-prof{ 
    margin-top: 60px;
    margin-left: 5px;
    align-self: center;
  }
  .header__wrapper .cols__container .left__col h2 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
    color: #acacac;
  }
  
  .header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
  }
  
  .header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
  }
  .header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
    padding: 1rem;
  }
  .header__wrapper .cols__container .left__col .about li span {
    color: #818181;
    font-weight: 600;
  }
  .header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #818181;
    height: 1px;
    width: 100%;
  }

  
  .header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .header__wrapper .cols__container .right__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;
  }
  .header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #818181;
    font-weight: 600;
  }

  .header__wrapper .cols__container .right__col nav button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .header__wrapper .cols__container .right__col nav button:hover {
    opacity: 0.8;
  }

  .header__wrapper .cols__container .right__col .Achievements {
    display: grid;
    gap: 20px;
    padding-top: 1rem;
  }
  
  .header__wrapper .cols__container .right__col .Achievements img {
    display: block;
  }
  
  .empty_ach{
    width: 100%;
  }
  
  .margin_contain .separator{ 
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    height: 1px;
    background-color: #acacac8a;
  }

  .achv_con{
    background-color: #23232e49;
    /* border: 1px solid #FF48A6; */
    border-radius: 1rem;
    height: auto;
    color: rgb(196, 196, 196);
    width: 100%;
  }

  .margin_contain h3{
    margin-top: 30px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
    color: #acacac;
  }

  
  /* Responsiveness */
  
  @media only screen and (min-width: 700px) {


    .new_container{ 
      
      margin-left: 8rem;
    }

    .sad-img {
      width: 60%;
      height: auto;
      overflow-y: none;
      overflow: none;
    }

    .header__wrapper .cols__container {
      max-width: 1200px;
      margin: 1 auto;
      width: 100%;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
    }
    .header__wrapper .cols__container .left__col {
      padding: 25px 0px;
    }
    .header__wrapper .cols__container .right__col nav ul {
      flex-direction: row;
      gap: 30px;
    }
    .header__wrapper .cols__container .right__col .photos {
      height: 365px;
      overflow: auto;
      padding: 0 0 30px;
    }

    .new_container{
      margin-top: 8rem;
    }

    .margin_contain{
      display: flex;
      justify-content: center;
      margin-top: -6rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .header__wrapper .cols__container .left__col {
      margin: 0;
      margin-right: auto;
      margin-left: auto;
    }
    .sad-img {
      width: 90%;
      height: auto;
      overflow-y: none;
      overflow: none;
    }
    .header__wrapper .cols__container .right__col nav {
      flex-direction: row;
      margin-right: 4rem;
    }
    .header__wrapper .cols__container .right__col nav button {
      margin-top: 0;
      margin-left: 2rem;
    }

    .header__wrapper .cols__container .right__col .Achievements {
      justify-content: center;
      flex: 0 0 100%;
    }

    .achievements-container {
      justify-content: center;
      align-items: center;
    }

    .new_container{
      margin-top: 6rem;
    }

    .margin_contain{
      display: flex;
      justify-content: center;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 5rem;
    }
  }
