<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<div class="new_container">
  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src={{avatarLink}} alt="Choose Avatar" />
            <span class="edit-icon">
              <img src={{userBadge}} alt="Photo" />
            </span>
          </div>
          <div class="user-buttons-container">
            <div *ngIf="isFollow == false; else followElseBlock">
              <button (click)="addFollower()" class="btn follow-user">Follow</button>
            </div>
            <ng-template #followElseBlock>
              <button (click)="deleteFollower()" class="btn unfollow-user">Unfollow</button>
            </ng-template>
          </div>
          <h2>{{username}}</h2>
          <ul class="about">
            <li><span>{{followersNumber}}</span>Followers</li>
            <li><span>{{totalScore}}</span>Points</li>
            <li><span>{{achievementNumber}}</span>Achievements</li>
          </ul>
        </div>
        <div class="margin_contain">
          <div class="right__col achv_con">
            <h3>Achievements</h3>
            <div class="separator"></div>
            <div *ngIf="achievementBadges.length > 0; else elseBlock">
              <div *ngFor="let badge of achievementBadges"  class="Achievements">
                <div class="image-container">
                  <img src={{badge.path}} alt="Photo" class="trophies"/>
                </div>
              </div>
            </div>
            <ng-template #elseBlock>
              <img src={{empty_ach}} class="empty_ach">
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="follow-popup" [class.show]="isFollowerAddedOpen" *ngIf="isFollowerAddedOpen" [ngStyle]="{ 'background-color': notifText.toLowerCase().includes('error') ? 'salmon' : 'lightgreen' }">
      <div class="follower-notif">
        <h2>{{ notifText }}</h2>
      </div>
    </div>
    <div class="unfollow-popup" [class.show]="isUnfollowedOpen" *ngIf="isUnfollowedOpen" [ngStyle]="{ 'background-color': unfollowNotifText.toLowerCase().includes('error') ? 'salmon' : 'lightgreen' }">
      <div class="unfollow-notif">
        <h2>{{ unfollowNotifText }}</h2>
      </div>
    </div>
  </body>
</div>

<div class="below_2">
<app-image-pop *ngIf="showImagePop"  class="comic" [image]="photoChoice" [type]="typeChoice"></app-image-pop>
</div>


<div class="below">
  <app-notification class="not-pos" *ngIf="showNotification" [message]="notificationMessage" [wordcolor]="wordcolor"   [color]= "color"></app-notification>
</div>

